@use "../variables" as *;

#top-text-container-alt {
    position: relative;
    flex-shrink: 0;
    width: 100%;

    display: flex;
    align-items: stretch;
    padding: 50px;
    justify-content: center;
    height: fit-content;
    gap: 30px;
    background-color: $off-black;

    border-bottom: 1px solid $off-white-active;
}

.sidebar-dot-alt {
    border: 2px solid $off-white;
    border-radius: 50%;
    background-color: $off-black;
    --hw: 15px;
    margin-left: -6px;
    height: var(--hw);
    width: var(--hw);
}

.title-container-alt {
    position: relative;
    z-index: 2;
    pointer-events: none;
    width: 100%;
    max-width: 600px;
    color: $off-white;

    h1 {
        padding: 0;
        margin: 0;
    }

    p {
        margin: 0;
        margin-top: 15px;
        line-height: 1.2;
        padding: 0;
        font-size: 17px;
        width: fit-content;

        span {
            background: linear-gradient(45deg, #ff4d6d, #6a5acd);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}