@use "../variables" as *;

#top-menu-container {
    position: fixed;
    height: 50px;
    width: 100%;

    display: flex;
    --a: 20px;
    gap: var(--a);
    padding: 10px var(--a);

    z-index: 100;
    pointer-events: none;
    mix-blend-mode: difference;
    color: white;
}

.top-menu-button {
    padding: 9px 11px;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    pointer-events: auto;
    white-space: nowrap;

    p {
        padding: 0;
        margin: 0;
    }
    
    border-radius: 5px;
    border: 1px solid #6d6d6d;
    transition: all ease 0.2s;
    
    &:hover {
        background: rgba(86, 86, 86, 0.129);
    }
    &:active {
        background: rgba(92, 92, 92, 0.246);
    }
    
    /* From https://css.glass */
    background: rgba(93, 93, 93, 0.03);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(97, 97, 97, 0.55);
}

.logo-container {
    margin-right: 0;
    margin-left: auto;
    height: fit-content;
    display: flex;
    gap: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;

    &--visible {
        opacity: 1;
    }

    img {
        height: 50px;
        width: auto;
        filter: invert(1);
    }

    .title-container-reg {
        font-size: 11px;
        margin: 0;
        margin-top: 10px;
        padding: 0;
        // background-color: yellow;
        display: flex;
        flex-direction: column;
        gap: 2px;

        * {
            margin: 0;
            padding: 0;
        }
    }
}
